<section class="page-title page-title-blank bg-white" id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title">
                    <ol class="breadcrumb breadcrumb-long">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="page-products.html">shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Green tea</li>
                    </ol>
                </div>
                <!-- End .title -->
            </div>
            <!-- End .col-lg-8-->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!-- End #page-title-->
<!--
============================
Shop Product Section
============================
-->
<section class="single-product" id="single-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout-banner">
                    <p>"Green Tea" has been added to your cart</p><a class="btn btn--secondary" asp-action="ViewCart">view cart</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="product-img"><img class="img-fluid" src="~/assets/images/shop/full/1.jpg" alt="product image" /><a class="img-popup" href="~/assets/images/shop/full/1.jpg" alt="product image"></a></div>
                <!-- .product-img end-->
            </div>
            <div class="col-12 col-lg-6">
                <div class="product-content">
                    <div class="product-title">
                        <h3>green tea</h3>
                    </div>
                    <!-- .product-title end-->
                    <div class="product-review">
                        <div class="product-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div><span>5 Review(s)</span><span><a href="#">Add Review</a></span>
                    </div>
                    <!-- .product-review end-->
                    <div class="product-price"><span>$15.00</span></div>
                    <!-- .product-price end-->
                    <div class="product-desc">
                        <p>EGCG is one of the most powerful compounds in green tea. Research has tested its ability to help treat various diseases. It appears to be one of the main compounds that gives green tea its medicinal properties (2</p>
                    </div>
                    <!-- .product-desc end-->
                    <div class="product-action">
                        <div class="product-quantity">
                            <input class="pro-qunt" type="text" value="2" readonly="" data-max="10" data-min="1" data-step="1" /><span><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a><a class="plus" href="javascript:void(0)"><i class="fa fa-plus"></i></a></span>
                        </div><a class="btn btn--secondary btn-radius-right" asp-action="ViewCart">add to cart</a>
                    </div>
                    <!-- .product-action end-->
                    <div class="product-details">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="name">SKU:</td>
                                    <td class="value">002</td>
                                </tr>
                                <tr>
                                    <td class="name">category:</td>
                                    <td class="value">vitamins</td>
                                </tr>
                                <tr>
                                    <td class="name">tags:</td>
                                    <td class="value">beauty , suppliments</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- .product-details end-->
                    <div class="product-share"><a class="facebook-bg" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a><a class="twitter-bg" href="javascript:void(0)"><i class="fab fa-twitter"></i></a><a class="pinterest-bg" href="javascript:void(0)"><i class="fab fa-pinterest"></i></a><a class="instagram-bg" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></div>
                    <!-- .product-share end	-->
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="product-tabs">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a class="active" href="#description" data-bs-target="#description" aria-controls="description" role="tab" data-bs-toggle="tab" aria-selected="true">description</a></li>
                        <li role="presentation"><a href="#details" data-bs-target="#details" aria-controls="details" role="tab" data-bs-toggle="tab" aria-selected="false">additional information</a></li>
                        <li role="presentation"><a href="#reviews" data-bs-target="#reviews" aria-controls="reviews" role="tab" data-bs-toggle="tab" aria-selected="false">reviews(2)</a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="description" role="tabpanel">
                            <p>It doesn’t contain as much as coffee, but enough to produce a response without causing the jittery effects associated with taking in too much caffeine. Caffeine affects the brain by blocking an inhibitory neurotransmitter called adenosine. This way, it increases the firing of neurons and the concentration of neurotransmitters like dopamine and norepinephrine (4Trusted Source, 5). Research has consistently shown that caffeine can improve various aspects of brain function, including mood, vigilance, reaction time, and memory (6).</p>
                        </div>
                        <!-- #description end-->
                        <div class="tab-pane" id="details" role="tabpanel">
                            <h5>Technical Details</h5>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Part Number</td>
                                        <td>60-MCTE</td>
                                    </tr>
                                    <tr>
                                        <td>Item Weight</td>
                                        <td>54 pounds</td>
                                    </tr>
                                    <tr>
                                        <td>Product Dimensions</td>
                                        <td>92.8 x 92.8 x 92.8 inches</td>
                                    </tr>
                                    <tr>
                                        <td>Item model number</td>
                                        <td>60-MCTE</td>
                                    </tr>
                                    <tr>
                                        <td>Item Package Quantity</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Number of Handles</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Batteries Required?</td>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- #details end-->
                        <div class="tab-pane reviews" id="reviews" role="tabpanel">
                            <ul class="product-review list-unstyled">
                                <li class="review-comment">
                                    <div class="review-body">
                                        <img src="~/assets/images/shop/author.jpg" alt="author" />
                                        <div>
                                            <h6>Marko Smith</h6>
                                            <p class="review-date">22/02/2016</p>
                                            <div class="product-rating"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                        </div>
                                    </div>
                                    <div class="product-comment">
                                        <p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
                                    </div>
                                </li>
                                <!-- .review-comment end-->
                                <li class="review-comment">
                                    <div class="review-body">
                                        <img src="~/assets/images/shop/author.jpg" alt="author" />
                                        <div>
                                            <h6>Mohamed Habaza</h6>
                                            <p class="review-date">21/02/2016</p>
                                            <div class="product-rating"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i></div>
                                        </div>
                                    </div>
                                    <div class="product-comment">
                                        <p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
                                    </div>
                                </li>
                                <!-- .review-comment end-->
                            </ul>
                            <div class="form-review">
                                <form>
                                    <input class="form-control" id="name" type="text" placeholder="Your Name" />
                                    <input class="form-control" id="email" type="email" placeholder="Your Email" />
                                    <select class="form-control w-100">
                                        <option selected="" value="Default">Your Rating</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <textarea class="form-control" id="review" rows="2" placeholder="your Review"></textarea>
                                    <button class="btn btn--secondary btn-block" type="submit">Post Your review</button>
                                </form>
                            </div>
                        </div>
                        <!-- #reviews end-->
                    </div>
                    <!-- #tab-content end-->
                </div>
                <!-- .product-tabs end-->
            </div>
            <!-- End .row-->
        </div>
    </div>
    <!-- End .container-->
</section>
<!-- End #single-product-->
<section class="shop shop-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>related products</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="product-item" data-hover="">
                    <div class="product-img">
                        <img src="~/assets/images/shop/grid/1.jpg" alt="Product" /><a class="add-to-cart" href="#"><i class="fas fa-shopping-cart"></i> add to cart</a>
                        <div class="badge"></div>
                    </div>
                    <!-- .product-img end-->
                    <div class="product-content">
                        <div class="product-title"><a href="shop-single.html">green tea</a></div>
                        <!-- .product-title end-->
                        <div class="product-price"><span>$15.00</span></div>
                        <!-- .product-price end-->
                    </div>
                    <!-- .product-content end-->
                </div>
                <!-- .product end-->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="product-item" data-hover="">
                    <div class="product-img">
                        <img src="~/assets/images/shop/grid/2.jpg" alt="Product" /><a class="add-to-cart" href="#"><i class="fas fa-shopping-cart"></i> add to cart</a>
                        <div class="badge"></div>
                    </div>
                    <!-- .product-img end-->
                    <div class="product-content">
                        <div class="product-title"><a href="shop-single.html">biotin complex</a></div>
                        <!-- .product-title end-->
                        <div class="product-price"><span>$25.00</span></div>
                        <!-- .product-price end-->
                    </div>
                    <!-- .product-content end-->
                </div>
                <!-- .product end-->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="product-item" data-hover="">
                    <div class="product-img">
                        <img src="~/assets/images/shop/grid/3.jpg" alt="Product" /><a class="add-to-cart" href="#"><i class="fas fa-shopping-cart"></i> add to cart</a>
                        <div class="badge">new</div>
                    </div>
                    <!-- .product-img end-->
                    <div class="product-content">
                        <div class="product-title"><a href="shop-single.html">facial serum</a></div>
                        <!-- .product-title end-->
                        <div class="product-price"><span>$37.00</span></div>
                        <!-- .product-price end-->
                    </div>
                    <!-- .product-content end-->
                </div>
                <!-- .product end-->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="product-item" data-hover="">
                    <div class="product-img">
                        <img src="~/assets/images/shop/grid/4.jpg" alt="Product" /><a class="add-to-cart" href="#"><i class="fas fa-shopping-cart"></i> add to cart</a>
                        <div class="badge"></div>
                    </div>
                    <!-- .product-img end-->
                    <div class="product-content">
                        <div class="product-title"><a href="shop-single.html">calming herps</a></div>
                        <!-- .product-title end-->
                        <div class="product-price"><span>$10.00</span></div>
                        <!-- .product-price end-->
                    </div>
                    <!-- .product-content end-->
                </div>
                <!-- .product end-->
            </div>
        </div>
    </div>
</section>