<section class="page-title page-title-blank bg-white" id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title">
                    <ol class="breadcrumb breadcrumb-long">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </div>
                <!-- End .title -->
            </div>
            <!-- End .col-lg-8-->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!-- End #page-title-->
<!--
============================
Shop Cart Section
============================
-->
<section class="shop shop-cart bg-white" id="shopcart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="cart-product">
                                <th class="cart-product-item">Product</th>
                                <th class="cart-product-price">Price</th>
                                <th class="cart-product-quantity">Quantity</th>
                                <th class="cart-product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-product">
                                <td class="cart-product-item">
                                    <div class="cart-product-remove"><img src="~/assets/images/shop/cross.png" alt="icon" /></div>
                                    <div class="cart-product-img"><img src="~/assets/images/shop/thumb/1.png" alt="product" /></div>
                                    <div class="cart-product-name">
                                        <h6>natural cacao powder</h6>
                                    </div>
                                </td>
                                <td class="cart-product-price">$ 10.00</td>
                                <td class="cart-product-quantity">
                                    <div class="product-quantity">
                                        <input class="pro-qunt" type="text" value="2" readonly="" data-max="10" data-min="1" data-step="1" /><span><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a><a class="plus" href="javascript:void(0)"><i class="fa fa-plus"></i></a></span>
                                    </div>
                                </td>
                                <td class="cart-product-total">$ 10.00</td>
                            </tr>
                            <tr class="cart-product">
                                <td class="cart-product-item">
                                    <div class="cart-product-remove"><img src="~/assets/images/shop/cross.png" alt="icon" /></div>
                                    <div class="cart-product-img"><img src="~/assets/images/shop/thumb/2.png" alt="product" /></div>
                                    <div class="cart-product-name">
                                        <h6>bioteen complex</h6>
                                    </div>
                                </td>
                                <td class="cart-product-price">$ 39.00</td>
                                <td class="cart-product-quantity">
                                    <div class="product-quantity">
                                        <input class="pro-qunt" type="text" value="2" readonly="" data-max="10" data-min="1" data-step="1" /><span><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a><a class="plus" href="javascript:void(0)"><i class="fa fa-plus"></i></a></span>
                                    </div>
                                </td>
                                <td class="cart-product-total">$ 39.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .cart-table end-->
            </div>
            <!-- End .col-lg-12-->
            <div class="col-12">
                <div class="cart-product-action">
                    <form class="form-inline">
                        <input class="form-control" id="coupon" type="text" placeholder="Coupon Code" />
                        <button class="btn btn--secondary btn-radius-right" type="submit">Apply Coupon</button>
                    </form>
                    <div><a class="btn btn--secondary btn-radius-right" href="#">update cart</a><a class="btn btn--secondary btn-radius-right" asp-action="Checkout">Checkout</a></div>
                </div>
            </div>
            <div class="col-12">
                <div class="cart-total-amount">
                    <h5>Cart Totals :</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="head">Subtotal</td>
                                <td>$140</td>
                            </tr>
                            <tr>
                                <td class="head">total</td>
                                <td class="amount">$140</td>
                            </tr>
                        </tbody>
                    </table><a class="btn btn--secondary btn-radius-right" asp-action="Checkout">procced to checkout</a>
                </div>
                <!-- .cart-total-amount end-->
            </div>
            <!-- End .col-lg-6-->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>