<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12 col-12">
            <div class="card mb-3">
                <div class="card-body">

                    <!-- Row starts -->
                    <div class="d-flex align-items-end gap-2">
                        <div class="m-0">
                            <label class="form-label" for="a1">Doctor Name</label>
                            <input type="text" class="form-control" id="a1" placeholder="Search By Doctors Name">
                        </div>
                        <div class="m-0">
                            <label class="form-label" for="a2">Department</label>
                            <input type="text" class="form-control" id="a2" placeholder="Search By Department">
                        </div>
                        <div class="m-0">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                    <!-- Row ends -->

                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user1.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Clive Nathan</h5>
                            <h6 class="text-truncate">Gynecologist, General Physician</h6>
                            <p>8 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user2.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Laura Jaden</h5>
                            <h6>Plastic Surgeon</h6>
                            <p>9 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user3.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Aliko Maria</h5>
                            <h6>Physiotherapist</h6>
                            <p>6 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user4.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Amelia Kim</h5>
                            <h6>Gastroenterologist</h6>
                            <p>7 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly4"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user5.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Emma Monis</h5>
                            <h6>General Surgeon</h6>
                            <p>5 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Olivia</h5>
                            <h6>Bariatric Surgeon</h6>
                            <p>8 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user1.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Kelly Phong</h5>
                            <h6>Ophthalmologist</h6>
                            <p>9 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly4"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user3.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. George Max</h5>
                            <h6>Dermatologist</h6>
                            <p>3 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user4.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Taylor</h5>
                            <h6>Radiologist</h6>
                            <p>8 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly3"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user2.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. Bailey</h5>
                            <h6>Dentist</h6>
                            <p>8 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user5.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. O'Sullivan</h5>
                            <h6>Laparoscopic Surgeon</h6>
                            <p>5 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <a href="doctors-profile.html" class="d-flex align-items-center flex-column">
                            <img src="~/admin/images/user.png" alt="Hospitals Admin Template"
                                 class="img-7x rounded-circle mb-3">
                            <h5>Dr. O'Brien Bui</h5>
                            <h6>Spine Surgeon</h6>
                            <p>6 Years Experience</p>
                        </a>
                        <div class="rating-stars m-auto mb-3">
                            <div class="readonly5"></div>
                        </div>
                        <a href="book-appointment.html" class="btn btn-primary">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>