<section class="page-title page-title-3 bg-overlay bg-overlay-dark bg-parallax" id="page-title">
    <div class="bg-section"><img src="~/assets/images/page-titles/5.jpg" alt="Background" /></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-5 offset-lg-0">
                <div class="title">
                    <div class="title-card">
                        <div class="title-heading">
                            <h1>Pediatric Clinic</h1>
                        </div>
                        <div class="title-sub-heading">
                            <p>All cardiologists study the disorders of the heart, but the study of adult and child heart disorders are trained to take care of small children.</p>
                        </div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="page-our-services.html">services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Pediatric Clinic</li>
                        </ol>
                    </div>
                </div>
                <!-- End .title -->
            </div>
            <!-- End .col-lg-8 -->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Single Services Section
============================
-->
<section class="single-service">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h6 class="service-heading">Pediatric providers see patients from birth into early adulthood to make sure children achieve stay healthy. Our care includes preventive health checkups. Cardiologists study the disorders of the heart, but the study of adult and child heart disorders are through different training.</h6>
                <!--
                ============================
                Video #02 Section
                ============================
                -->
                <div class="video video-2 bg-overlay bg-overlay-video" id="video-2">
                    <div class="bg-section"><img src="~/assets/images/video/1.jpg" alt="background" /></div><a class="popup-video btn-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4"> <i class="fas fa-play"></i><span>watch our presentation!</span></a>
                    <!-- End .popup-video-->
                </div>
                <div class="entry-introduction">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h6 class="head">We provide all aspects of medical practice for your whole family, including general check-ups or assisting you with injuries.</h6>
                            <p class="desc">We will work with you to develop individualised care plans, including management of chronic diseases. If we cannot assist, we can provide referrals or advice about the type of practitioner you require. We treat all enquiries in the strictest confidence.</p>
                            <p class="desc">Today hospital is recognised as a world renowned institution, not only providing outstanding care and treatment, but improving the outcomes for all through a comprehensive medical research.</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <p class="desc">We’re here to care for you and your entire family. Regular visits to the doctor will depend on your age and general health!</p>
                            <ul class="list-unstyled advantages">
                                <li><i class="fas fa-check"></i> Health assessments</li>
                                <li><i class="fas fa-check"></i> Home medicine review</li>
                                <li><i class="fas fa-check"></i> Fractures and dislocations</li>
                                <li><i class="fas fa-check"></i> Desensitisation injections</li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="signature-block">
                                <a class="btn btn--primary btn-line btn-line-after" href="doctors-grid.html"><span>find a doctor</span><span class="line"> <span></span></span></a>
                                <div class="signature-body">
                                    <h6>john winston</h6>
                                    <p>pediatrician</p><img class="signature-img" src="~/assets/images/signature/1.png" alt="signature" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-infos health-plans">
                    <h5 class="entry-heading">health care plans</h5>
                    <p class="entry-desc">Our doctors include highly qualified practitioners came from a range of backgrounds and bring with a diversity of skills and special interests. Our administration and support staff all have exceptional people skills and trained to assist you with all medical enquiries.</p>
                    <div class="advantages-box">
                        <ul class="advantages-list">
                            <li><i class="fas fa-check"></i> Review your medical records.</li>
                            <li><i class="fas fa-check"></i> Check and test blood pressure.</li>
                            <li><i class="fas fa-check"></i> Run tests such as blood tests.</li>
                        </ul>
                        <ul class="advantages-list">
                            <li><i class="fas fa-check"></i> Check and test lung function.</li>
                            <li><i class="fas fa-check"></i> Narrowing of the arteries.</li>
                            <li><i class="fas fa-check"></i> Other specialized tests.</li>
                        </ul>
                    </div>
                    <div class="entry-action">
                        <p> <span class="currency">$50</span><span class="time"> Monthly</span></p><a class="btn btn--secondary btn-line btn-line-before" href="page-pricing.html"><span class="line"><span></span></span><span>explore other plans</span></a>
                    </div>
                </div>
                <div class="entry-infos core-values">
                    <h5 class="entry-heading">our core values</h5>
                    <p class="entry-desc">Today the hospital is recognised as a world renowned institution, not only providing outstanding care and treatment, but improving the outcomes for all through a comprehensive medical research. For over 20 years, our hospital has touched lives of millions of people, and provide care and treatment for the sickest in our community including rehabilitation and aged care.</p>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="entry-value">
                                <i class="flaticon-007-stethoscope"></i>
                                <div class="entry-content">
                                    <h5>medical check ups</h5>
                                    <p>Recognised as a world renowned institution. consult our doctors by visiting us.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="entry-value">
                                <i class="flaticon-026-education"></i>
                                <div class="entry-content">
                                    <h5>medical treatment</h5>
                                    <p>Free or low cost coverage adults with limited income recognised.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="entry-value">
                                <i class="flaticon-036-aid"></i>
                                <div class="entry-content">
                                    <h5>Emergency 24/7</h5>
                                    <p>Contact our reception with any medical enquiry for low cost coverage adults.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="entry-value">
                                <i class="flaticon-032-medicine"></i>
                                <div class="entry-content">
                                    <h5>Research Pros</h5>
                                    <p>All medical aspects practice for family, our reception staff with any medical enquiry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-infos tips-info">
                    <h5 class="entry-heading">health & tips info</h5>
                    <p class="entry-desc">We help create a care plan that addresses your specific condition and we are here to answer all of your questions & acknowledge your concerns. Today the hospital is recognised as a world renowned institution, not only providing outstanding care and treatment, but improving the outcomes.</p>
                    <div class="accordion accordion-3" id="accordion03">
                        <div class="card">
                            <div class="card-heading"><a class="card-link collapsed" data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-1" href="#collapse01-1">Which Plan Is Right For Me?</a></div>
                            <div class="collapse" id="collapse01-1" data-bs-parent="#accordion03">
                                <div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading"><a class="card-link collapsed" data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-2" href="#collapse01-2">Do I have to commit to a contract? </a></div>
                            <div class="collapse" id="collapse01-2" data-bs-parent="#accordion03">
                                <div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading"><a class="card-link  " data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-3" href="#collapse01-3">What Payment Methods Are Available? </a></div>
                            <div class="collapse show" id="collapse01-3" data-bs-parent="#accordion03">
                                <div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="infos">
                                <h6>Three years of internal medicine residency, three years of Clinical Cardiology fellowship, and one to two (in most instances) years of clinical cardiac electrophysiology.</h6>
                                <p>We will work with you to develop individualised care plans, including management of chronic diseases. If we cannot assist, we can provide referrals or advice about the type of practitioner you require. We treat all enquiries sensitively and in the strictest confidence.</p>
                                <p>We provide all aspects of medical practice for your whole family, including general check-ups or assisting with specific injuries.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="prices-list">
                                <h6>treatments price list </h6>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="list-unstyled">
                                            <li>Colonoscopy<span class="price">$50</span></li>
                                            <li>Allergy testing<span class="price">$50</span></li>
                                            <li>Gastroscopy<span class="price">$60</span></li>
                                            <li>Bronchoscopy<span class="price">$75</span></li>
                                            <li>Cardiac Ablation<span class="price">$45</span></li>
                                            <li>Holter monitoring<span class="price">$55</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-infos doctors-prief">
                    <h5 class="entry-heading">Meet Our Doctors</h5>
                    <p class="entry-desc">Our administration and support staff all have exceptional people skills and trained to assist you with all medical enquiries. Doctors will be available from 8 am : 12 am , kindly call to confirm your Appointment.</p>
                    <div class="row team-grid team-grid-4" id="team-all">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="team-member" data-hover="">
                                <div class="team-member-holder">
                                    <div class="team-img"><a class="link" href="doctors-grid.html"></a><img src="~/assets/images/team/grid/1.jpg" alt="team member" /></div>
                                    <div class="team-content">
                                        <div class="team-title">
                                            <h4><a href="doctors-grid.html">Richard Muldon</a></h4>
                                        </div>
                                        <div class="team-cat"><a href="javascript:void(0)">Cardiology Specialist</a></div>
                                    </div>
                                    <!-- End .team-content -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="team-member" data-hover="">
                                <div class="team-member-holder">
                                    <div class="team-img"><a class="link" href="doctors-grid.html"></a><img src="~/assets/images/team/grid/2.jpg" alt="team member" /></div>
                                    <div class="team-content">
                                        <div class="team-title">
                                            <h4><a href="doctors-grid.html">Michael Brian</a></h4>
                                        </div>
                                        <div class="team-cat"><a href="javascript:void(0)">Dermatologists</a></div>
                                    </div>
                                    <!-- End .team-content -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="team-member" data-hover="">
                                <div class="team-member-holder">
                                    <div class="team-img"><a class="link" href="doctors-grid.html"></a><img src="~/assets/images/team/grid/3.jpg" alt="team member" /></div>
                                    <div class="team-content">
                                        <div class="team-title">
                                            <h4><a href="doctors-grid.html">Maria Andaloro</a></h4>
                                        </div>
                                        <div class="team-cat"><a href="javascript:void(0)">Pediatrician</a></div>
                                    </div>
                                    <!-- End .team-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <!--
                ============================
                Sidebar Services #01
                ============================
                -->
                <div class="sidebar sidebar-service">
                    <!-- Services-->
                    <div class="widget widget-services">
                        <div class="widget-title">
                            <h5>medical services</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>neurology clinic</span></a></li>
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>cardiology clinic</span></a></li>
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>pathology clinic</span></a></li>
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>labotatory analysis</span></a></li>
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>pediatric clinic</span></a></li>
                                <li><a href="single-service.html"> <span class="line"> <span></span></span><span>cardiac clinic</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End .widget-services -->
                    <!-- Reservation-->
                    <div class="widget widget-reservation widget-reservation-2">
                        <img src="~/assets/images/blog/sidebar/reservation.jpg" alt="img" />
                        <div class="widget-content">
                            <i class="flaticon-022-medical"></i>
                            <h5>emergency cases</h5>
                            <p>Please feel welcome to contact our friendly reception staff with any general or medical enquiry call us</p><a href="tel:0106123214"><span class="fas fa-phone-alt"></span> 0106123214</a>
                        </div>
                    </div>
                    <!-- End .widget-reservation-->
                    <!-- Opening-hours-->
                    <div class="widget widget-opening-hours">
                        <div class="widget-content">
                            <i class="flaticon-014-uniform"></i>
                            <h5>opening hours </h5>
                            <ul class="list-unstyled">
                                <li> <span>monday-friday</span><span>8:00 - 7:00 pm</span></li>
                                <li> <span>saturday</span><span>9:00 - 8:00 pm</span></li>
                                <li> <span>sunday</span><span>10:00 - 9:00 pm</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End .widget-opening-hours-->
                    <!-- Download-->
                    <div class="widget widget-download">
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path class="shp0" d="M10 10L8 10L8 4L10 4L10 10ZM9 14.3C8.28 14.3 7.7 13.72 7.7 13C7.7 12.28 8.28 11.7 9 11.7C9.72 11.7 10.3 12.28 10.3 13C10.3 13.72 9.72 14.3 9 14.3ZM12.73 0L5.27 0L0 5.27L0 12.73L5.27 18L12.73 18L18 12.73L18 5.27L12.73 0Z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg><span>covid-19 latest update</span>
                                    </a>
                                </li>
                                <li class="inversed">
                                    <a href="javascript:void(0)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path class="shp0" d="M2.12 2L2.93 1L14.93 1L15.87 2L2.12 2ZM9 14.5L3.5 9L7 9L7 7L11 7L11 9L14.5 9L9 14.5ZM17.54 2.23L16.15 0.55C15.88 0.21 15.47 0 15 0L3 0C2.53 0 2.12 0.21 1.84 0.55L0.46 2.23C0.17 2.57 0 3.02 0 3.5L0 16C0 17.1 0.9 18 2 18L16 18C17.1 18 18 17.1 18 16L18 3.5C18 3.02 17.83 2.57 17.54 2.23Z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg><span>2020 patient reports</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End .widget-download-->
                </div>
                <!-- End .sidebar-->
            </div>
        </div>
    </div>
</section>