@model AboutVM

<section class="hero hero-8 bg-overlay bg-overlay-dark">
    <div class="bg-section"> <img src="~/assets/images/sliders/4.jpg" alt="background" /></div>
    <div class="container">
        <div class="hero-content">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="hero-subtitle">True Healthcare For Your Family</p>
                    <h2 class="hero-title">Delivering Tomorrow’s Care For Your Family.</h2>
                    <p class="hero-desc">Our doctors include highly qualified practitioners who come from a range of backgrounds and bring a diversity of skills. Our support staff all have exceptional people skills.</p>
                    <div class="hero-action"> <a class="btn btn--white btn-line btn-line-after btn-line-inversed" href="#"> <span>more about us</span><span class="line"><span></span></span></a></div>
                </div>
                <div class="col-12 col-lg-7 d-flex">
                    <div class="hero-panel-holder hero-panel-holder-2">
                        <div class="phone-card">
                            <div class="card-icon"> <i class="flaticon-022-medical"></i></div>
                            <div class="card-content">
                                <h5>emergency cases</h5>
                                <p>Please feel welcome to contact our staff for any general or medical enquiry call us</p><a href="tel:0106123214"><i class="fas fa-phone-alt"></i> <span>0106123214</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">about</a></li>
                        <li class="breadcrumb-item" aria-current="page">department</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
============================
Cta #3 Section
============================
-->
<section class="cta cta-3" id="cta-3">
    <div class="container">
        <div class="heading heading-6">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="heading-subtitle">Caring For The Health Of You And Your Family.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">We Provide All Aspects Of Medical Practice For Your Whole Family!</h2>
                </div>
                <!--End .col-lg-5-->
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="prief-set">
                        <p>We pride ourselves on providing the best transport and shipping services available allover the world. Our skilled personnal and processing software, combined with decades of experience! Through integrated supply chain solutions, Equita drives sustainable competitive advantages to some of Australia's largest companies.</p>
                        <ul class="list-unstyled advantages-list">
                            <li><i class="fas fa-check"></i> Quality Control System</li>
                            <li><i class="fas fa-check"></i> Unrivalled workmanship</li>
                            <li><i class="fas fa-check"></i> 100% Satisfaction Guarantee</li>
                        </ul>
                    </div>
                </div>
                <!--End .col-lg-6-->
            </div>
        </div>
    </div>
    <div class="processes">
        <div class="row g-0">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">01.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-023-medical-history"></i></div>
                        <div class="process-content">
                            <h5>fill our medical application</h5>
                            <p>Medisch offers free or low-cost health coverage for adults.</p><a class="btn-line btn-line-before btn-line-inversed" href="#"><span class="line"> <span> </span></span><span>doctors timetable</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">02.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-043-cardiogram"></i></div>
                        <div class="process-content">
                            <h5>Review Your Family History</h5>
                            <p>Health exams help find problems with early chances which helps.</p><a class="btn-line btn-line-before btn-line-inversed" href="javascript:void(0)"><span class="line"> <span> </span></span><span>Start A Check Up</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">03.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class="flaticon-027-medical-report"></i></div>
                        <div class="process-content">
                            <h5>Choose Between Our Programs </h5>
                            <p>We have protocols to protect our patients to provide necessary care.</p><a class="btn-line btn-line-before btn-line-inversed" href="javascript:void(0)"><span class="line"> <span> </span></span><span>explore programs</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="process-panel" data-hover="">
                    <p class="process-number">04.</p>
                    <div class="process-body">
                        <div class="process-icon"> <i class=".flaticon-021-medical-1"></i></div>
                        <div class="process-content">
                            <h5>Introduce To Qualified Doctors </h5>
                            <p>Our administration and support staff all have exceptional people skills</p><a class="btn-line btn-line-before btn-line-inversed" href="#"><span class="line"> <span> </span></span><span>meet our doctors</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End .processes-->
</section>
<!--
============================
Donations #3 Section
============================
-->
<section class="donations donations-3 bg-overlay bg-parallax bg-overlay-theme" id="donations-3">
    <div class="bg-section"><img src="~/assets/images/background/3.jpg" alt="background" /></div>
    <div class="container">
        <div class="contact-panel contact-panel-3">
            <div class="heading heading-light heading-11">
                <h2 class="heading-title">Helping Patients From Around the Globe!!</h2>
                <p class="heading-desc">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today</p>
                <div class="donations-action"><a class="btn btn--white" asp-controller="Contact" asp-action="Index">make a gift <i class="fas fa-heart"></i></a><a class="btn btn--transparent btn--inversed" asp-action="FAQS">help &amp; faqs</a></div>
                <div class="img-hotspot">
                    <div class="img-hotspot-wrap">
                        <div class="img-hotspot-bg"> <img src="~/assets/images/background/world-map.png" alt="image" /></div>
                        <div class="img-hotspot-pointers">
                            <div class="img-hotspot-pointer" data-spot-x="15%" data-spot-y="29%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info right" data-info-x="18px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="48%" data-spot-y="48%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="68%" data-spot-y="23%">
                                <img src="~/assets/images/background/map-pointer.png" alt="pointer" />
                                <div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-card">
                <div class="contact-body">
                    <h5 class="card-heading">book an appointment</h5>
                    <p class="card-desc">Please feel welcome to contact our staff with any general or medical enquiry. Our doctors will receive or return any urgent calls.</p>
                    <form class="contactForm" method="post" action="https://demo.zytheme.com/medisch/assets/php/contact.php">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="select-holder">
                                    <select class="form-control">
                                        <option value="default">bathology clinic</option>
                                        <option value="AL">neurology clinic </option>
                                        <option value="AK">cardiology clinic </option>
                                    </select>
                                    <div class="badge">department</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="select-holder">
                                    <select class="form-control">
                                        <option value="default">michael brian</option>
                                        <option value="AL">maria andoloro</option>
                                        <option value="AK">richard muldoone</option>
                                    </select>
                                    <div class="badge">choose doctor</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6">
                                <input class="form-control" type="text" name="contact-name" placeholder="Name" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <input class="form-control" type="text" name="contact-email" placeholder="Email" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <input class="form-control" type="text" name="contact-phone" placeholder="Phone" required="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="date-select">
                                    <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="select date" name="contact-date" value="" required="" /><i class="fas fa-calendar-day"></i>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="time-select">
                                    <input class="form-control" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="select time" name="contact-date" value="" required="" /><i class="fas fa-clock"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn--secondary btn-line btn-line-before btn--block"><span class="line"> <span> </span></span><span>make appointment</span></button>
                            </div>
                            <div class="col-12">
                                <div class="contact-result"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End .contact-body -->
            </div>
        </div>
        <!-- End .contact-panel-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Doctors #02 Section
============================
-->
<section class="team team-grid team-grid-2 team-grid-3" id="teamGrid-2">
    <div class="container">
        <div class="heading heading-9 text-center">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <h2 class="heading-title">Meet Our Doctors</h2>
                    <p class="heading-desc">Our administration and staff all have exceptional skills and trained to assist you with all medical enquiries.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Doctors)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="team-member" data-hover="">
                        <div class="team-member-holder">
                            <div class="team-img">
                                <a class="link" href="doctors-grid.html"></a><img src="~/assets/images/team/grid/@item.Image" alt="team member" />
                                <div class="team-social"> <a href="javascript:void(0)"><i class="fab fa-facebook-f"> </i></a><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a><a href="javascript:void(0)"><i class="fas fa-envelope"></i></a><a href="javascript:void(0)"><i class="fas fa-phone-alt"></i></a></div>
                            </div>
                            <!-- End .team-img-->
                            <div class="team-content">
                                <div class="team-title">
                                    <h4><a href="doctors-grid.html">@item.Name @item.Surname</a></h4>
                                </div>
                                <div class="team-cat"><a href="javascript:void(0)">@item.Specialist.Name</a></div>
                                <div class="team-desc">
                                    <p>@item.MainDescription</p>
                                </div>
                                <div class="team-more"><a class="btn-line btn-line-inversed btn-line-before" href="#"> <span class="line"> <span></span></span><span>read more</span></a></div>
                            </div>
                            <!-- End .team-content -->
                        </div>
                    </div>
                </div>

            }
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>