<section class="page-title page-title-2 bg-overlay bg-overlay-dark bg-parallax" id="page-title">
    <div class="bg-section"><img src="~/assets/images/page-titles/4.jpg" alt="Background" /></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <div class="title-heading">
                        <h1>our gallery</h1>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">about</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Gallery</li>
                    </ol>
                </div>
                <!-- End .title -->
            </div>
            <!-- End .col-lg-8 -->
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!--
============================
Gallery Section
============================
-->
<section class="team team-gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-12 text-center">
                    <p class="heading-subtitle">The Best Medical And General Practice Care!</p>
                    <h2 class="heading-title">Providing Medical Care For Our Community.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/1.jpg" alt="DR.Richard Muldoone item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/1.jpg" title="DR.Richard Muldoone"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/2.jpg" alt="DR.Michael Brian item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/2.jpg" title="DR.Michael Brian"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 team-member">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/3.jpg" alt="DR.Maria Andaloro item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/3.jpg" title="DR.Maria Andaloro"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/4.jpg" alt="DR.Markus Skar item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/4.jpg" title="DR.Markus Skar"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/5.jpg" alt="DR.Richard Muldoone item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/5.jpg" title="DR.Richard Muldoone"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 team-member">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/6.jpg" alt="DR.Kiano Barker item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/6.jpg" title="DR.Kiano Barker"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/1.jpg" alt="DR.Richard Muldoone item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/1.jpg" title="DR.Richard Muldoone"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/2.jpg" alt="DR.Michael Brian item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/2.jpg" title="DR.Michael Brian"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/3.jpg" alt="DR.Maria Andaloro item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/3.jpg" title="DR.Maria Andaloro"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/4.jpg" alt="DR.Markus Skar item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/4.jpg" title="DR.Markus Skar"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member ">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/5.jpg" alt="DR.Richard Muldoone item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/5.jpg" title="DR.Richard Muldoone"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 content d-none team-member">
                <div class="team-member-holder" data-hover="">
                    <div class="team-img">
                        <img src="~/assets/images/team/grid/6.jpg" alt="DR.Kiano Barker item" />
                        <div class="team-hover">
                            <div class="team-action">
                                <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="~/assets/images/team/full/6.jpg" title="DR.Kiano Barker"></a></div>
                            </div>
                            <!-- End .team-action -->
                        </div>
                        <!-- End .team-hover-->
                    </div>
                    <!-- End .team-img-->
                </div>
                <!-- End .team-member-holder-->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center"><a class="btn btn--white" id="loadMore" href="#">Load More</a></div>
        </div>
    </div>
</section>