<!-- App body starts -->
<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">View Salaries</h5>
                    <div class="row justify-content-end">
                        <div class="col-sm-2">
                            <select name="Month" id="SMonth" class="form-select">
                                <option value="0">May</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        <table id="basicExample" class="table m-0 align-middle">
                            <thead>
                                <tr>
                                    <th>Emp ID</th>
                                    <th>Emp Name</th>
                                    <th>Position</th>
                                    <th>Location</th>
                                    <th>Working Days</th>
                                    <th>Month</th>
                                    <th>Salary</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MES-896</td>
                                    <td>
                                        <img src="assets/images/user.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Deena Cooley
                                    </td>
                                    <td>Surgeon</td>
                                    <td>Edinburgh</td>
                                    <td>29</td>
                                    <td>May, 2024</td>
                                    <td>$8800</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-345</td>
                                    <td>
                                        <img src="assets/images/user4.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Bennett Lucero
                                    </td>
                                    <td>Cardiologist</td>
                                    <td>Singapore</td>
                                    <td>24</td>
                                    <td>May, 2024</td>
                                    <td>$8570</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-762</td>
                                    <td>
                                        <img src="assets/images/user4.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Alison Estrada
                                    </td>
                                    <td>Urologist</td>
                                    <td>New York</td>
                                    <td>29</td>
                                    <td>May, 2024</td>
                                    <td>$9250</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-324</td>
                                    <td>
                                        <img src="assets/images/user3.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">Hector Banks
                                    </td>
                                    <td>Physical Therapy</td>
                                    <td>San Francisco</td>
                                    <td>28</td>
                                    <td>May, 2024</td>
                                    <td>$9000</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-560</td>
                                    <td>
                                        <img src="assets/images/user3.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Owen Scott
                                    </td>
                                    <td>Rheumatologist</td>
                                    <td>Edinburgh</td>
                                    <td>28</td>
                                    <td>May, 2024</td>
                                    <td>$8650</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-223</td>
                                    <td>
                                        <img src="assets/images/user2.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Erica Vaughn
                                    </td>
                                    <td>Gynecologist</td>
                                    <td>New York</td>
                                    <td>30</td>
                                    <td>May, 2024</td>
                                    <td>$8600</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-980</td>
                                    <td>
                                        <img src="assets/images/user1.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">Cody Bruce
                                    </td>
                                    <td>Orthopeadic</td>
                                    <td>London</td>
                                    <td>26</td>
                                    <td>May, 2024</td>
                                    <td>$9250</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-665</td>
                                    <td>
                                        <img src="assets/images/user5.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Lael Greer
                                    </td>
                                    <td>Audiologists</td>
                                    <td>London</td>
                                    <td>28</td>
                                    <td>May, 2024</td>
                                    <td>$8500</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-453</td>
                                    <td>
                                        <img src="assets/images/user4.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Naomi Wolfe
                                    </td>
                                    <td>Psychiatrists</td>
                                    <td>San Francisco</td>
                                    <td>30</td>
                                    <td>May, 2024</td>
                                    <td>$8500</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-224</td>
                                    <td>
                                        <img src="assets/images/user3.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Helena Frazier
                                    </td>
                                    <td>Regional Director</td>
                                    <td>Edinburgh</td>
                                    <td>30</td>
                                    <td>May, 2024</td>
                                    <td>$6000</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-167</td>
                                    <td>
                                        <img src="assets/images/user2.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Mitchel Alvarez
                                    </td>
                                    <td>Paediatrician</td>
                                    <td>Singapore</td>
                                    <td>29</td>
                                    <td>May, 2024</td>
                                    <td>$7300</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MES-008</td>
                                    <td>
                                        <img src="assets/images/user.png" class="img-shadow img-2x rounded-5 me-1"
                                             alt="Doctors Admin Template">
                                        Dirk Meadows
                                    </td>
                                    <td>Cardiologists</td>
                                    <td>New York</td>
                                    <td>27</td>
                                    <td>May, 2024</td>
                                    <td>$8800</td>
                                    <td>
                                        <a href="payslip.html" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table ends -->

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>